name: Eternal-Live

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install
        run: |
          sudo apt update
          sudo apt install -y ffmpeg
          pip install yt-dlp

      - name: Stream
        run: |
          # استخدام رابط مباشر ومستقر لا يحتاج تسجيل دخول
          url=$(yt-dlp -f "best" -g "https://www.youtube.com/watch?v=ma67ySdJLm4")
          ffmpeg -re -i "$url" -c:v libx264 -preset ultrafast -b:v 400k -c:a aac -b:a 128k -f flv "rtmp://a.rtmp.youtube.com/live2/q12g-s6wc-0y03-0ua5-6e6p"
