name: Eternal-Live

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install Tools
        run: |
          sudo apt update
          sudo apt install -y ffmpeg

      - name: Stream
        run: |
          # بث مباشر مستقر جداً لاختبار السيرفر وتجاوز الحظر
          ffmpeg -re -i "https://live-hls-web-aje.getaj.net/AJE/index.m3u8" -c copy -f flv "rtmp://a.rtmp.youtube.com/live2/q12g-s6wc-0y03-0ua5-6e6p"
